* {
    margin: auto;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #90DCC6;
    padding: 20px;
    text-align: center;
}



.content {
    background-color: #CAEFF2;
    padding: 20px;
    height: 500px;
    text-align: center;
    width: 70%;
    float: left;


}

.aside {
    background-color: #F2D8CA;
    padding: 20px;
    height: 500px;
    text-align: center;
    width: 30%;
    float: right;



}

.clear-both {
    clear: both;
}

.section-two {
    margin-top: 10px;

}


.box {
    background-color: #F2F1CA;
    padding: 20px;
    width: calc(25% - 7.5px);
    height: 150px;
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;



}

.box:nth-child(4) {
    margin-right: 0;
}

.footer {
    background-color: #EDCAF2;
    width: 100%;
    height: 50px;
    text-align: center;

}

@media screen and (max-width : 768px) {
    .header {
        display: none;
    }

    .content {
        width: 100%;
    }

    .aside {
        width: 100%;

    }

    .box {
        width: calc(50% - 5px);
    }

    .box:nth-child(2) {
        margin-right: 0;
    }
}
@media screen  and (max-width: 480px){
    .header{
        display: block;
    }
    .box{
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
}