/* header  */
.header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-top {
    background-color: var(--color-one);
    color: var(--color-two);
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.header-main .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header-main .inner-logo a {
    color: var(--color-one);
    display: flex;
    align-items: center;
}

.header-main .inner-logo img {
    height: 48px;
    width: auto;
    margin-right: 10px;
}

.header-main .inner-logo span {
    font-size: 22px;
    font-weight: 600;

}

.header-main .inner-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;


}

.header-main .inner-menu ul li a {
    color: var(--color-one);
    font-size: 18px;


}

.header-main .inner-menu ul li {
    margin-left: 15px;
    margin-right: 15px;
}

.header-main .inner-contact {
    font-size: 18px;
    color: var(--color-text);
}

.header-main .inner-social ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.header-main .inner-social ul li a {

    color: var(--color-one);
    font-size: 25px;

}

.header-main .inner-social ul li {

    margin-left: 15px;

}

.header-main .inner-menu-mobile {
    display: none;
    font-size: 24px;
    color: var(--color-one);
}

@media (max-width: 768px) {
    .header-top {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .header-main .inner-contact {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-main .inner-menu {
        display: none;
    }

    .header-main .inner-social {
        display: none;
    }

    .header-main .inner-menu-mobile {
        display: block;
    }
}

/* End header  */

/* button  */
.button {
    background-color: var(--color-text);
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 45px;
    border: 2px solid var(--color-text);
    transition: 0.4s;
    display: inline-block;

}

.button-two:hover {
    color: var(--color-two);
    background-color: #fff;
}

.button-two {
    background-color: var(--color-two);
    border-color: var(--color-two);
}

.button-one:hover {
    color: var(--color-one);
    background-color: #fff;
}

.button-one {
    background-color: var(--color-one);
    border-color: var(--color-one);
}

/* end button  */

/* section - one  */
.section-one {
    background-color: var(--background-color);
    padding: 100px 0;
}

.section-one .inner-wrap {
    display: flex;
    flex-wrap: wrap;
}

.section-one .inner-content {
    width: 50%;
}

.section-one .inner-content h1 {
    font-size: 60px;
    color: var(--color-one);
}

.section-one .inner-content .inner-dssc {
    font-size: 22px;
    color: var(--color-one);
    margin-bottom: 40px;
}

.section-one .inner-content .inner-list {
    display: flex;
    margin-bottom: 40px;
}

.section-one .inner-content .inner-item {
    width: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.section-one .inner-content .inner-item i {
    margin-right: 10px;
    font-size: 24px;
}

.section-one .inner-content a {
    font-weight: bold;
}

.section-one .inner-image {
    width: 50%;
    position: relative;
}

.section-one .inner-image img {
    width: 100%;
}

.section-one .inner-image .inner-sale {
    position: absolute;
    top: 0;
    right: 150px;
    background-color: var(--color-two);
    color: var(--color-one);
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;

}

.section-one .inner-image .inner-sale span:nth-child(1) {
    font-size: 22px;


}

.section-one .inner-image .inner-sale span:nth-child(2) {
    font-size: 42px;


}

@media (max-width: 992px) {
    .section-one .inner-content {
        width: 100%;
        /* Hiển thị bên dưới ảnh  */
        order: 1;

    }

    .section-one .inner-image {
        width: 100%;

    }
}

@media (max-width: 768px) {
    .section-one .inner-content {
        text-align: center;

    }

    .section-one .inner-content .inner-item {
        justify-content: center;
    }

}

/*  End section - one  */

/* section - two  */
.section-two {
    padding: 80px 0;
}

.section-two .inner-box {
    width: calc(100% /3 - 20px);
    height: 100%;
    /* tỷ lệ width / height là 4/3  */
    aspect-ratio: 4/3;
    position: relative;
    /* cắt bỏ nội dung bị tràn ra khỏi ranh giới của 1 ptử */
    overflow: hidden;
}

.section-two .inner-box img {
    width: 100%;
    height: 100%;
    /* tự co dãn hết width và height mà không bị vỡ  */
    object-fit: cover;
    transition: 0.4s;

}

.section-two .inner-box .inner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;


}

.section-two .inner-box .inner-tag {
    background-color: #13A05D;
    display: inline-block;
    padding: 6px 12px;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.section-two .inner-box .inner-title {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
}
.section-two .inner-box .inner-title #c{
   color: var(--color-one);
   font-size: 30px;
   font-weight: 600;
   margin-top: 0;
   margin-bottom: 20px;
}
.section-two .inner-box .inner-title .inner-sale, .inner-price-new{
   color: var(--color-two);
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 20px;
   
}
.section-two .inner-box .inner-title .inner-price-old{
   color: rgb(187, 187, 187);
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 10px;
   margin-top: 0;
   text-decoration: line-through;
   
}

.section-two .inner-box:hover img {
    transform: scale(1.1);
}

.section-two .inner-wrap {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .section-two .inner-box {
        width: 100%;
        aspect-ratio: 2/1;
        margin-bottom: 30px;
    }

    .section-two .inner-wrap {
        flex-wrap: wrap;
    }
}

/*  End section - two  */

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;

        padding-left: 15px;
        padding-right: 15px;
    }
}

/* section three */
.section-three {
    background-color: #F0F2F5;
    padding: 100px 0;
}

.section-three .inner-head {
    max-width: 630px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.section-three .inner-head .inner-title {
    font-size: 50px;
    color: var(--color-one);
    margin: 0;
}

.section-three .inner-head .inner-desc {
  
    font-size: 24px;
}
.section-three .inner-wrap  {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
}
.section-three .inner-wrap .inner-box{
   width: calc(100% /3);
   text-align: center;
   
}
.section-three .inner-wrap .inner-box i{
    font-size: 30px;
}
.section-three .inner-wrap .inner-box .inner-title{
    font-size: 28px;
    color: var(--color-one);
}
.section-three .inner-wrap .inner-box p{
    font-size: 18px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

/* End section three */