/* box-head */
.box-head {
    text-align: center;
    margin-bottom: 30px;
}

.box-head .inner-title {
    font-weight: 700;
    font-size: 38px;
    margin-top: 0;
    color: #124265;
    text-transform: uppercase;
}

.box-head .inner-decs {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 10px;
    color: rgb(91, 91, 91);
}

/*End box-head */

/* Testimonials */
.Testimonials::selection {
    background-color: pink;
    color: black;
}

.Testimonials .inner-main {
    background-color: #f3f9fd;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    text-align: center;
}

.Testimonials .inner-main::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f3f9fd;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);

}

.Testimonials .inner-content {}

.Testimonials .inner-content::before {
    content: "\f10d";
    font-weight: 900;
    font-family: "Font Awesome 7 Free";
    color: #124265;
    font-size: 30px;



}

.Testimonials .inner-content::after {
    content: "\f10e";
    font-weight: 900;
    font-family: "Font Awesome 7 Free";
    color: #124265;
    font-size: 30px;




}

.Testimonials .inner-info {
    text-align: center;
    margin-top: 50px;
}

.Testimonials .inner-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.Testimonials .inner-info .inner-name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.Testimonials .inner-info .position {
    color: rgb(91, 91, 91);
    margin-bottom: 0;
}


/* end Testimonials */


/* start box-contact  */
.contact {
    margin-top: 60px;
}

.contact .inner-info {
    padding: 30px;
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        height: 100%;

}

.contact .inner-info .inner-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact .inner-info .inner-item:hover .inner-icon {
    background-color: rgb(1, 187, 1);

}

.contact .inner-info .inner-item .inner-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(220, 220, 220);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 18px;
    transition: 0.4s;

}

.contact .inner-info .inner-content .inner-title {
    font-size: 20px;
    font-weight: 700;
}

.contact .inner-info .inner-content {
    font-size: 16px;

}

.contact .inner-map {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

}

.contact .inner-map iframe {
    width: 100%;
    height: 100%;

}

.contact .inner-map iframe {
    width: 100%;
    height: 100%;

}

.contact .inner-form {
    padding: 30px;
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100%;

}