*{
    font-family: segoe ui;
    font-size: 18px;
}
table,

th,
td {
    border: 1px solid rgb(116, 116, 116);
    text-align: center;
}

table th,
td {
    padding: 5px;

}

table th {
    background-color: aqua;
}