@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
div{
    text-align: center;
    color: black;
    font-size: 25px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: pink;
    padding: 20px;
    width: 50vw;
    height: 50vh;
    max-width: 600px;
    font-family: "Oswald", sans-serif;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 700;
    /* độ dày của chữ  */
    
}